<footer>
    <div class="footer-container" id="about">
        <div class="sakura-ramen-logo-footer">
            <img class="sakura-logo-footer1" src="./assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png">
            <img class="sakura-logo-footer2" src="./assets/img/1_hero/PNG/sakura_logo.png">
        </div>
        <div class="impressum-privacy-container">
            <a href="./imprint.html" id="jsImprint">Impressum</a>
            <span>|</span>
            <a href="./privacy-policy.html" id="jsPrivacyPolicy">Datenschutz</a>
        </div>
        <div class="footer-logos">
            <img class="logo-footer" src="./assets/img/5_section_footer/PNG/tripadvisor_logo.png">
            <img class="logo-footer" src="./assets/img/5_section_footer/PNG/facebook_logo.png">
            <img class="logo-footer" src="./assets/img/5_section_footer/PNG/instagrram_logo.png">
        </div>
    </div>
</footer>